body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Audiowide', cursive;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Russo One', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Audiowide-Regular.ttf');
  src: local('Audiowide');
}

@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RussoOne-Regular.ttf');
  src: local('Russo One');
}